*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family:"Jost" , serif;
    min-height: center;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230707/pngtree-3d-rendering-of-a-lush-wall-of-pink-rose-flowers-image_3817454.jpg) no repeat center center/cover;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top:0;
    background: transparent;
    box-shadow: 0 10px 20px  paleturquoise;
    backdrop-filter: blur (10px);
    z-index: 999;

}